<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script> -->
  <script src="https://cdn.staticfile.org/angular.js/1.6.3/angular.min.js"></script>
  <style>
    table, th , td  {
      border: 1px solid grey;
      border-collapse: collapse;
      padding: 5px;
    }
    /* table tr:nth-child(odd)	{
      background-color: #f1f1f1;
    }
    table tr:nth-child(even) {
      background-color: #ffffff;
    } */
  </style>
</head>
<body>
  <!-- 过滤器（orderBy | uppercase）  -->
  <!-- 显示序号 $index -->
  <!-- 使用 $even 和 $odd -->
  <div ng-app="app" ng-controller="customersCtrl">
    <table>
      <tr ng-repeat="x in names | orderBy : 'Country'">
        <!-- <td>{{ $index + 1 }}</td>
        <td>{{ x.Name }}</td>
        <td>{{ x.Country | uppercase }}</td> -->
        <td ng-if="$odd" style="background-color: #f1f1f1;">{{ $index + 1 }}</td>
        <td ng-if="$even">{{ $index + 1 }}</td>
        <td ng-if="$odd" style="background-color: #f1f1f1;">{{ x.Name }}</td>
        <td ng-if="$even">{{ x.Name }}</td>
        <td ng-if="$odd" style="background-color: #f1f1f1;">{{ x.Country | uppercase }}</td>
        <td ng-if="$even">{{ x.Country | uppercase }}</td>
      </tr>
    </table>
  </div>

  <script>
    var app = angular.module('app', [])
    app.controller('customersCtrl', ($scope, $http) => {
      $http.get('/php/Customers_JSON.php')
        .then(result => {
          $scope.names = result.data.records
        })
    })
  </script>
</body>
</html>